@model DeltaAlpha.Models.Brother

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brother</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BigBrother)
        </dt>

        <dd>
            @if (Model.BigBrother != null)
            {
                Html.DisplayFor(model => model.BigBrother.FullName);
            }
            else
            {
                @:Not known yet
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.ActionLink(Model.Family.Name, "Details", "Family", new { id = Model.FamilyId }, new  { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PledgeClass)
        </dt>

        <dd>
            @Html.ActionLink(Model.PledgeClass.Name, "Details", "PledgeClass", new { id = Model.PledgeClassId }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
